src/main/mule/new-git-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="02467efe-f63c-49f9-94db-35da0d4c3423" basePath="/api" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2b0e6b9b-8ff1-4a57-b202-766e34ec83f5" basePath="/getTimeZoneInfo" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="world-demo-apiFlow" doc:id="0747e372-9a54-4f28-8a34-ca17a6a9833d" >
		<http:listener doc:name="Listener" doc:id="24f2e36e-ad23-4b6a-963d-9c5c87b6d208" config-ref="HTTP_Listener_config" path="/{area}/{location}"/>
		<http:request method="GET" doc:name="Request" doc:id="ffcf84e0-ef0d-4b2b-97db-35ebd8953cad" config-ref="HTTP_Request_configuration" path="/{area}/{location}">
			<http:uri-params ><![CDATA[#[{
       area: attributes.uriParams.area,
       location: attributes.uriParams.location
   }]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
