src/main/mule/new-git-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a922a0be-d9d9-49fe-8287-1a1ad300d0ec" basePath="/getTimeZoneInfo" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="df64bf24-0396-4a2c-a40c-8a69f3bb8590" basePath="/api" >
		<http:request-connection host="worldtimeapi.org" port="80" />
	</http:request-config>
	<flow name="new-git-sampleFlow" doc:id="10a73109-7237-4e05-903c-c8766d3ae72f" >
		<http:listener doc:name="Listener" doc:id="db22abe2-85f3-4e3c-955e-c7b997138d0e" path="/{area}/{location}" config-ref="HTTP_Listener_config"/>
		<http:request method="GET" doc:name="Request" doc:id="cf11854c-4698-4d2f-9259-3e51b5e712a8" config-ref="HTTP_Request_configuration" path="/{area}/{location}">
			<http:uri-params ><![CDATA[#[{
       area: attributes.uriParams.area,
       location: attributes.uriParams.location
   }]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
